@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Playfair+Display:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair',sans-serif;
    background-color: antiquewhite;
}

#navbar {
    width: 100vw;
    height: 75px;
    background-color: #04604e;
}

.navbar-brand {
    font-family: 'Luxurious Script', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #eb5cad;
}

.nav{
    float: right;
}

.navbar-brand nav{
    line-height: 75px;
}

.heroimage {
    

}

#foot {
    width: 100vw;
    height: 50px;
    background-color: #04604e;
    color: #eb5cad;
    position: fixed;
    bottom: 0px;
    overflow: none;
}