@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #04604e;
}


#navbar {
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    border-bottom: #04604e 2px solid;
    z-index: 10;
}

#logo {
    font-family: 'Luxurious Script', cursive;
    font-weight: 400;
    font-size: 280%;
    letter-spacing: 6px;
    color: #eb5cad;
    float: left;
    margin-left: 30px;
}

.menu-fix {
    float: right;
}

#menu li{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin-right: 20px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

#menu a:hover {
    text-decoration: underline solid;
    color: #eb5cad;
}

#menu .active {
    text-decoration: underline solid;
    color: #eb5cad;
}


#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#heroimage {
    height: 500px;
    width: 100%;
    background: url("assets/images/hero-book.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;

    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#cover-layer {

}

  #cover-text {
    font-size: 120%;
    font-family: "Luxurious Script", cursive;
    color: antiquewhite;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 50%;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;

    bottom: 30px;
    right: 50px;

    position: absolute;

}

#cover-text h2, h3 {
    float: right;

}

hr {
    color: white;

}

#cover-text hr {
    right: 10px;
}

#reviews-head, #about-head {
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}

#reviews {
    margin: 0;
}

.blockquote {
    background-color: antiquewhite;
    margin-bottom: 10px;
}

#foot {
    width: 100vw;
    height: 50px;
    border-top: #04604e 2px solid;
    background-color: antiquewhite;
    color: #eb5cad;
    position: fixed;
    bottom: 0px;
}

@media screen and (max-width: 1393px ){
    #navbar{
    margin: 0 auto;
    }

    #cover-text {
        right: 10px;
    }

    hr {
        right: 10px;
    }


}