@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Site Wide */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #04604e;
}


#navbar {
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    border-bottom: #04604e 1px solid;
    z-index: 10;
}

#logo {
    font-family: 'Luxurious Script', cursive;
    font-weight: 400;
    font-size: 280%;
    letter-spacing: 6px;
    color: #eb5cad;
    float: left;
    margin-left: 30px;
}

.menu-fix {
    float: right;
}

#menu li{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin-right: 20px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

#menu a:hover {
    text-decoration: underline solid;
    color: #eb5cad;
}

#menu .active {
    text-decoration: underline solid;
    color: #eb5cad;
}


#hero-outer {
    height: 95vh;
    width: 100%;
    overflow: hidden;

}

#heroimage {
    height: 100%;
    width: 100%;
    background: url("assets/images/hero-book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;

    margin: 0;


    filter: brightness(0.7);


    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  .cover-text {
    font-size: 120%;
    font-family: "Luxurious Script", cursive;
    color: antiquewhite;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 50%;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;

    bottom: 30px;
    right: 50px;

    position: absolute;

}

.cover-text h2, h3 {
    float: right;

}

hr {
    color: white;

}

#cover-text hr {
    right: 10px;
}

#foot {
    width: 100vw;
    height: 50px;
    border-top: #04604e 1px solid;
    background-color: antiquewhite;
    color: #eb5cad;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

/* Homepage */

#reviews-head, #about-head {
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}

#reviews {
    margin: 0;
}

.blockquote {
    background-color: antiquewhite;
    margin-bottom: 10px;
}


/* Gallery */


.c-item {
    height: 95vh;

}


.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7)
}

.gallery-head {
    color: antiquewhite;
    font-family: "Luxurious Script", cursive;
    letter-spacing: 4px;
}

.gallery-text {
    color: antiquewhite;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

.btn-dark {
    text-transform: capitalize;
    font-family: 'Montserrat';
    color: black;
    background-color: #04604e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    border: 1px solid black;
}

.btn-dark:hover {
    color: black;
    background-color: #eb5cad;
}
