@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*.......................................Site Wide */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #04604e;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

header,
footer {
    display: flex;
}

#navbar {
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
}

#logo {
    font-family: 'Luxurious Script', cursive;
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 6px;
    color: #04604e;
    float: left;
    margin-left: 0px;
    padding-top: 10px;
    text-shadow: 0px 0px 1px #000;
}

#logo:hover {
    color: #eb5cad;
}

#menu {
    float: right;
}

#menu li {
    list-style-type: none;
    letter-spacing: 1px;
    margin-right: 15px;
    padding: 10px 5px 10px 0;
    float: left;
}

#menu a {
    text-decoration: none;
    color: #04604e;
    font-weight: 500;
    text-shadow: 0px 0px 1px #000;
}

#menu a:hover {
    color: #eb5cad;
}

/*.......................................Hover underline from 30 seconds of code */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #eb5cad;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #eb5cad;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu .active {
    color: #eb5cad;
}

#logo,
#menu {
    line-height: 30px;
}

#hero-outer {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#heroimage {
    height: 100%;
    width: 100%;
    background: url("../images/hero-book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin: 0;
    filter: brightness(0.7);
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 10px 0px #000 inset;
}

.cover-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Luxurious Script", cursive;
    color: #eb5cad;
    font-size: 120%;
    text-transform: capitalize;
    letter-spacing: 4px;
    height: fit-content;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

hr {
    margin: 0 auto;
}

h3 {
    font-family: "montserrat";
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;
    color: antiquewhite;
    text-shadow: 1px 1px 2px #000;
}

h4 {
    font-family: 'Luxurious Script', cursive;
    letter-spacing: 4px;
    font-size: 150%;
}

.box-shade {
    box-shadow: 1px 1px 6px 0px #000;
}

#foot {
    width: 100vw;
    height: 40px;
    background-color: antiquewhite;
    color: #04604e;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.foot-social {
    text-decoration: none;
    color: #04604e;
    float: right;
}

.foot-social:hover {
    color: #eb5cad;
}

/*.......................................Box shadow code from W3schools*/
.btn-dark {
    text-transform: capitalize;
    font-family: 'Montserrat';
    color: black;
    background-color: #04604e;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.btn-dark:hover {
    color: black;
    background-color: rgb(235, 92, 173);
    box-shadow: 0px 0px 5px 2px rgb(75, 30, 56) inset;
}

/*.......................................Homepage */
.about-text {
    font-family: inherit;
    text-align: start;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.about-text p {
    text-indent: 15px;
}

.card-body,
.card-footer,
.card {
    background-color: antiquewhite;
}

.card-body {
    padding: 0;
}

.card-img {
    height: 220px;
    object-fit: cover;
}

/*.......................................Gallery */
.alert {
    background-color: rgb(235, 92, 173, 0.7);
    border: none;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.close {
    float: right;
}

#hero-carousel {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    height: 95%;
    margin-top: 65px;
}

.c-item {
    height: 100%;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7)
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eb5cad;
    height: auto;
    width: fit-content;
    margin: 0 auto 45px;
    padding: 10px 30px;
    border-radius: 30px;
}

.gallery-head {
    font-family: "Luxurious Script", cursive;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.gallery-text {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

/*.......................................Contact */
.contact-form {
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-list {
    list-style-type: none;
}

.text-input,
.text-area {
    background: transparent;
    margin: 5px 0 20px 0;
    border: 1px solid rgb(4, 96, 78);
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3) inset;
    float: right;
}

.text-input {
    height: 30px;
}

.text-area {
    height: 80px;
}

.form-label {
    float: left;
}

/*.......................................Media Queries*/
@media screen and (max-width: 767px) {

    header a,
    nav {
        display: inline-flex;
        align-content: center;
    }

    #logo,
    #menu {
        padding-top: 0;
        line-height: 30px;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .alert {
        margin-top: 30px;
    }
}

@media screen and (max-width: 285px) {
    header a {
        font-size: small;
    }
}

/*.......................................Keyframe 
Fade in animation from hubspot blog*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
