@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Site Wide */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #04604e;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

header,
footer {
    display: flex;
}

#navbar {
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    border-bottom: #04604e 1px solid;
    z-index: 10;
    margin: 0 auto;
}

#logo {
    font-family: 'Luxurious Script', cursive;
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 6px;
    color: #04604e;
    float: left;
    margin-left: 0px;
    padding-top: 10px;
}

#logo:hover {
    color: #eb5cad;
}

.menu-fix {
    float: right;
}

#menu li {
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 15px;
    padding: 10px 5px 10px 0;
    float: left;
}

#menu a {
    text-decoration: none;
    color: #04604e;
    font-weight: 700;
}

#menu a:hover {
    text-decoration: underline solid;
    color: #eb5cad;
}

#menu .active {
    text-decoration: underline solid;
    color: #eb5cad;
}

#logo,
#menu {
    line-height: 30px;
}

#hero-outer {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#heroimage {
    height: 100%;
    width: 100%;
    background: url("../images/hero-book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin: 0;
    filter: brightness(0.7);
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.cover-text {
    bottom: 75px;
    right: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    float: right;
    font-family: "Luxurious Script", cursive;
    color: #eb5cad;
    font-size: 120%;
    text-transform: capitalize;
    letter-spacing: 4px;
    height: fit-content;
    margin-bottom: 10px;
    padding: 30px 20px 20px 20px;
    border-radius: 15px;
    clear: both;
}

hr {
    color: #eb5cad;
    width: 50%;
    margin: 0 auto;
}

h3 {
    font-family: "montserrat";
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid underline 2px;
    color: #eb5cad;
}

h4 {
    font-family: 'Luxurious Script', cursive;
    letter-spacing: 4px;
    font-size: 150%;
}

#foot {
    width: 100vw;
    height: 40px;
    border-top: #04604e 1px solid;
    background-color: antiquewhite;
    color: #04604e;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.foot-social {
    text-decoration: none;
    color: #04604e;
    float: right;
}

.foot-social:hover {
    color: #eb5cad;
}

/* Homepage */
.reviews {
    margin: 0;
    justify-content: space-between;
}

.about-text {
    font-family: inherit;
    text-align: start;
    background-color: antiquewhite;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.about-text p {
    text-indent: 10px;
}

.review-list {
    list-style: none;
}

.blockquote {
    height: 270px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 15px;
    clear: both;
    text-align: center;
}

.blockquote em {
    font-weight: 500;
}

/* Gallery */
#hero-carousel {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    height: 95vh;
}

.c-item {
    margin-top: 25px;
    height: 95vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7)
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.3);
    color: #eb5cad;
    padding-top: 30px;
    padding-bottom: 0;
    height: fit-content;
    border-radius: 15px;
    clear: both;
    margin-bottom: 2%;
}

.gallery-head {
    font-family: "Luxurious Script", cursive;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.gallery-text {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

/*Box shadow code from W3schools*/
.btn-dark {
    text-transform: capitalize;
    font-family: 'Montserrat';
    color: black;
    background-color: #04604e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
}

.btn-dark:hover {
    color: black;
    background-color: #eb5cad;
}

.gallery-text,
.gallery-btn {
    margin-bottom: 50px;
}

/* Contact */
.contact-form {
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-list {
    list-style-type: none;
}

.text-input {
    background: transparent;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #04604e;
    border-radius: 15px;
}

.text-area {
    background: transparent;
    height: 75px;
    margin: 5px 0 20px 0;
    border: 1px solid #04604e;
    border-radius: 15px;
}

/* Keyframe 
Fade in animation from hubspot blog*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    header {
        padding-top: 30px;
    }

    header a,
    nav {
        display: inline-flex;
        justify-contents: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 285px) {
    header a {
        font-size: small;
    }

    nav {
        padding: 0;
    }
}
